// Footer styles set

.footer {
  background-color: #fff5f6;
}

.footer__content{
  display: flex;

  @media screen and (min-width:320px) {
  
  flex-direction: column;
  gap:40px;
  }
  
  @media screen and (min-width:768px) {
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 0;
}

}

.footer__text {
  max-width: 234px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffa5ba;


  @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 340px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 480px;
  }


  &--bold {
    display: inline-block;
    margin-top: 16px;

    font-family: var(--font-second);
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #d41443;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.15;
    }

    @media screen and (min-width: 1200px) {
      font-size: 56px;
      line-height: 1.13;
    
    }
  }  
}

.footer__text--normal {
     
  @media screen and (min-width: 320px) {

    display: flex;
    width: 232px;

    font-size: 18px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    
  display: flex;
  width: 340px;
  
  font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    
  display: flex;
  width: 474px;
  
  font-size: 30px;
  }
}


// Footer Socials Icons Styles

.socials {


  display: flex;
  gap: 30px;
  // align-items: center;
  // justify-content: center;
  // float: right;

  max-width: 152px;


  // margin-top: 40px;
  // margin-right: 20px;

  //   &__icon {
  //     &:not(:last-child) {
  //       margin-right: 28px;
  //     }
  //   }

  // margin-top: 40px;
  // margin-right: 20px;
  // margin-left: auto;
}

.socials__link {
    fill: #fea5bb;
  &:hover {
    fill: #d41443;
  }

}

.footer__contacts {
  //   display: inline-block;
  float: right;
  max-width: 230px;
  // margin-top: 40px;

  // margin-right: 20px;
  // margin-left: 70px;

  // margin-right: 20px;
  // margin-left: auto;

  &--text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */

    text-align: right;
 
    color: #000000;
  }

  &--tel {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    text-align: right;

    color: #d41443;

    text-decoration: none;
  }
}

.footer__inner {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  border-bottom: 1px solid #E1E1E1;

  @media screen and (max-width:767px) {
    gap: 40px;
  }
}

.socials__icon:focus,
.socials__icon:hover {
  fill: var(--color-general);
}

// Footer Copyright styles

.footer__copyright {
  text-align: center;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  color: #907E82;
  font-family: 'DM Sans';
  font-style: normal;
 
  @media screen and (max-width: 320px) {
    
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  }
  
  &::before {
    content: '';
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e1e1e1;
   
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  
  @media screen and (min-width: 768px) {
    

  justify-content: space-between;  
  align-items: flex-end;
  }  
}